@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0px;
    background-color: rgb(231, 195, 152);
}

.outer-box{
    margin: 0 auto;
    position: relative;
   
    transform: translateY(30%);

    height:500px;
    width:500px;
    border-radius:10px;
    background-color: rgb(47, 34, 34);
   
    border: 3px solid blue;
    box-sizing: border-box;
    padding-top: 3px;
    

   

}

.layer1 h1{

  color:white;
  margin-bottom :15px;
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", serif;
    
}

.layer1{
text-align: center;
   
   

}

#taskname{
   height:40px;
   width:250px;
   margin-right:10px;
   border-radius:5px;
   border:none;
   box-sizing: border-box;
   padding-left:20px;
   font-size: larger;
   font-weight: 700;
}

#enter{
    height: 40px;
    width:70px;
    border-radius: 5px;
    border:none;
    background-color: rgb(5, 112, 235);
    color:white;
    font-family:"Roboto", serif;
    font-size: larger;
    font-weight: 500;



}

.layer1 h2{
    color:white;
    font-family:"Roboto", serif;
    font-size: 35px;
    font-weight: 800;
}

.layer2{

    box-sizing: border-box;
    height:230px;
   
    width:100%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
   
    
    scroll-behavior: smooth;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap:20px ;
    
    
    
}



.box{
    height:45px;
    box-sizing: border-box;
    width:90%;
    border:1px solid white;
    padding-left: 0px;
    min-height: 45px;
   
   
    font-size: larger;
    padding-top: 10px;
    color: white;
    border-radius: 6px;
    display: flex;
    column-gap:5px;
    justify-content:space-around;
}
